<header>
    <nav>
        <a href="/">Zicz</a>
        <ul>
            <li><a href="/authors">Authors</a></li>

            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Books</a></li>
            <li><a href="/authors/register">Register</a></li>
            <li><a href="/authors/login">logins</a></li>
            <li><a href="/authors/profile" >Profile</a></li>
            
      
        </ul>
    </nav>
</header>