<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- And the stuff that is inside <title>...Right here...</title> is going to be shown in the tab of the app in the browser -->
    <title>Mybrary,Which is the name of our application</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <%- include('../partials/errorMessage.ejs')%>
    <!-- This line is very important.Because we passed a variable to index.ejs though the post route. 
        Then we made a partial file called errorMessage.ejs and there we showed the value of that variable and we included errorMessage.ejs in this layout file and the errorMessage.ejs(remember i said errorMessage.ejs '.ejs') will not be able to show the value of that variable by its own because that variable was not given to any other file other than the rendered file. And layout.ejs can pull that variable because it pulls the all the other ejs files in it's  <%body%> (i couldn't give - before that body word) part and thus that variable is also pulled and we included that errorMessage.ejs file now in this layout.ejs file and now that variable inside of the errorMessage.ejs is getting the reference of that variable that was passed by the post route to the rendered file and from there to the layout.ejs file by default and from there to the errorMessage.ejs file. And partial file or any ejs file it can be it will not accept any unpassed variable through the router meaning you can write any variable inside the partial file that wasn't defined and passed through the router and that will through an error.
    And also this is the reaosn why they are called partials because the only get included in the layout.ejs and they don't stay in the <%body%> of the layout.ejs and other files such as index.ejs gets pulled by <%body%> of the layout.ejs and they are in the body-->

    <!--I did experiment of the above with this ra.ejs partial <%- include('../partials/ra.ejs')%> -->

    <%- body %> 
   
</body>
</html>