<h2>Search authors</h2>
<form action="/authors">
<label>Name</label>
<input type="text" name="name3" value="<%= searchOptions.name3 %>">
<!-- value="<%= searchOptions.name %>" holds the searched input in the search field -->
<button type="submit">Search</button>
</form>
<!-- <% authors.forEach( author => { %>
    <div><%= author.name %></div>
<% }) %> -->
