<h1>Login</h1>

  






 
<form action="/authors/login" method="POST">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="email" name="loginName" required>
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" id="password" name="loginPassword" required>
    


  </div>
  <button type="submit">Login</button>
</form>
<br>
<label>Don't have an account? Register here.</label>
<a href="/authors/register">Register</a>
