    <div>
        Registration
    </div>

    <form action="./register" method="POST">
        <input type="name">
        <input type="email">
        <input type="password">
        <button type="submit"> Register </button>
    </form>