    <div>
        Registration
    </div>

    <form action="/authors/register" method="POST">
       








       
            


        <p>Name: </p><input type="name" name="name2">
     <!--  <p>Email: </p><input type="email" name="email">
       <p>Password: </p> <input type="password" name="password">
       <p>AuthName: </p> <input type="auth" name="auth">
       <br/>.   -->
        <button type="submit"> Register </button>
    </form>