    <div>
        Registration
    </div>

    <form action="/authors/register" method="POST">
       








       
            


        <p>Name: </p><input type="text" name="name2" required>
       <p>Email: </p><input type="email" name="email" required>
       <p>Password: </p> <input type="password" name="password" required>

       <br/>
        <button type="submit"> Register </button>
    </form>