    <div>
        Registration
    </div>

    <form action="./register" method="POST">
       








       
            


        <p>Name: </p><input type="name">
        <p>Email: </p><input type="email">
       <p>Password: </p> <input type="password">
       <p>AuthName: </p> <input type="auth">
       <br/>
        <button type="submit"> Register </button>
    </form>