<h2><%= author4.name2%></h2>


<a href="/authors/<%= author4.id%>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/authors/${author4.id}`})%>

<% if (booksByAuthor.length > 0) { %>
    <h2>Books By Author</h2>
    <% booksByAuthor.forEach( book => { %>
        <img height="150" width="150" src="<%= book.coverImagePath %>">
    <% }) %>
    <% } %>

    <br> <br>

     
